@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-black: #444;
}

/* ################ header styling ################## */
body {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}
.header {
  padding: 0 3rem;
}
.nav {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;

  padding: 2rem 6rem;
}

.nav .logo {
  height: 5.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 2.2rem;
  /* outline: none; */
  text-decoration: none;
  color: inherit;
  margin-left: 2rem;
}

.nav-link-btn {
  background-color: var(--color-primary);
  padding: 0.8rem 3rem;
  border-radius: 3rem;
}
.header-title {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  /* grid-template-rows: 4fr 1fr 1fr 2fr; */
  /* height: 100px; */
  border: 2px solid red;
  align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
}
}
.header-title h1,
h4,
.btn-text {
  font-weight: 500;
}
.header-title h1 {
  font-size: 6rem;
}
.header-title h4 {
  font-size: 2.6rem;
}
.header-title .btn-text {
  display: inline-block;
  font-size: 2rem;
  color: var(--color-primary);
  border: none;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid currentColor;
}

.header-img {
  grid-column: 2;
  grid-row: 1/4;
  height: 60%;
}
/* ################### media queries ################ */
@media (max-width: 828px) {
  .nav .logo {
    height: 4rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }
}
