@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-black: #444;
  --color-black-light: #666;
}

/* ################ header styling ################## */
body {
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}
.header {
  padding: 0 6rem;
  border-bottom: 1px solid #ddd ;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;

  padding: 2rem 6rem;
}

.nav .logo {
  height: 5.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 2.2rem;
  /* outline: none; */
  text-decoration: none;
  color: inherit;
  margin-left: 2rem;
}

.nav-link-btn {
  background-color: var(--color-primary);
  padding: 0.8rem 3rem;
  border-radius: 3rem;
}
.header-title {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  
  align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 10rem;
}
}
.header-title h1,
h4,
.btn-text {
  font-weight: 500;
}
.header-title h1 {
  font-size: 5.5rem;
  font-weight: 600;
}
.header-title h4 {
  font-size: 2.6rem;
}
.header-title .btn-text {
  display: inline-block;
  font-size: 2rem;
  color: var(--color-primary);
  border: none;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid currentColor;
}

.header-img {
  grid-column: 2;
  grid-row: 1/span 4;
  width: 100%;
  
}

.highlight{
  position: relative;
  font-size: inherit;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.09) skewX(
-15deg);
  background-image: var(--gradient-primary);
}
/* ################### section styling ################# */
.section{
  padding: 20rem 0;
  /* margin-top: 10rem; */
  /* padding-bottom: 10rem; */
  /* margin-bottom: 20rem; */
  border-bottom: 1px solid #ddd ;
}

.section-description{
  font-size: 25px;
  color: var(--color-primary);
  width: 65%;
  margin: auto;
}
.section-header{
  font-size: 40px;
  font-weight: 500;
  width: 65%;
  margin: auto;
}
/* ############ utility Classes ##########  */
.section-container{
  margin: 10rem 12rem;
}
/* ############# featues styling ############ */
.features{
  display: grid;
  /* border: 2px solid red; */
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  
}
.feature{
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 2rem;
  /* border: 2px solid green; */
}


.feature-img{
  width: 100%;
  /* border: 2px solid darkorange; */
}

.feature-icon {
  display: flex;
  color: var(--color-primary);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}


.feature-header{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.feature p{
  font-size: 1.5rem;
  color: var(--color-black-light);
  line-height: 2.7rem;
}

/* ################ operations Styling ############## */
.operations{
  border: 2px solid red;
  margin-top: 12rem;
  background-color: #f7f7f7;
}
.operation-btn-div{
  display: flex;
  justify-content: center;
}
.operation-btn{
  font-size: 1.8rem;
  font-weight: 500;
  transform: translateY(-50%);
  border-radius: 3rem;
  padding: 1.25rem 4.5rem;
  margin-right: 2.5rem;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.operation-btn-active{
  transform: translateY(-66%);
}
.operation-btn-1{
  background-color: var(--color-primary);
}
.operation-btn-1:hover{
  background-color: var(--color-primary-darker);
}
.operation-btn-2{
  background-color: var(--color-secondary);
}
.operation-btn-2:hover{
  background-color: var(--color-secondary-darker);
}
.operation-btn-3{
  background-color: var(--color-tertiary);
}
.operation-btn-3:hover{
  background-color: var(--color-tertiary-darker);
}

.operation-content{
  display: grid;
  grid-template-columns: 7rem 1fr;

  gap: 0.5rem 3rem;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}
.operation-icon-1{
color: var(--color-primary);
}
.operation-header{
  grid-column: 2;
  font-size: 2.7rem;
  font-weight: 500;
  align-self: center;

}
.operation-content p {
  grid-column: 2;
  font-size: 1.7rem;
  color: var(--color-black-light);
}
/* ################### media queries ################ */
@media (max-width: 828px) {
  .nav .logo {
    height: 4rem;
  }
  .nav-link {
    font-size: 1.4rem;
  }
}
